@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");

:root {
  --modal-duration: 1.5s;
  --primary-color: #30336b;
  --secondary-color: rgba(8, 207, 91, 0.6);
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 16px;
  height: 16px;
}

::-webkit-scrollbar-thumb {
  background: var(--primary-color);
  border-radius: 16px;
  box-shadow: inset 2px 2px 2px hsl(0deg 0% 100% / 25%),
    inset -2px -2px 2px rgb(0 0 0 / 25%);
}

::-webkit-scrollbar-track {
  background: linear-gradient(90deg, #434343, #fff 1px, darkgrey 0, darkgrey);
}

body {
  background-color: #CCFFFF;
  font-family: "Lato", sans-serif;
  margin: 0;
  transition: transform 0.3s ease;
}

body.show-nav {
  transform: translateX(200px);
}

nav {
  background-color: var(--primary-color);
  position: fixed;
  border-right: 2px solid rgba(200, 200, 200, 0.1);
  color: #fff;
  top: 0;
  left: 0;
  width: 200px;
  height: 100%;
  z-index: 100;
  transform: translateX(-100%);
}

nav .logo {
  text-align: center;
  padding: 30px 0;
}

nav ul {
  padding: 0;
  list-style: none;
  margin: 0;
}

nav ul li {
  margin: 0;
  padding: 20px 0;
  border-bottom: 2px solid rgba(200, 200, 200, 0.1);
  background: linear-gradient(
    to right,
    var(--secondary-color) 50%,
    var(--primary-color) 50%
  );
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 0.4s ease-out;
}

nav ul li:first-of-type {
  border-top: 2px solid rgba(200, 200, 200, 0.1);
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  width: 100%;
  text-align: center;
  padding: 0 50px;
}

.active {
  background: #000;
}

header {
  color: #fff;
  background-color: var(--primary-color);
  position: relative;
  text-align: right;
  padding: 20px 15px;
}

.details {
  margin: 0 0 0.5rem;
  border: 2px solid rgba(8, 207, 91, 0.6);
  border-radius: 5px;
  padding: 0.5rem;
  line-height: 0.5rem;
  
}
.details a {
  text-decoration: none;
}

button,
input[type="submit"] {
  background-color: var(--secondary-color);
  border: 0;
  border-radius: 5px;
  color: #fff;
  padding: 8px 12px;
  cursor: pointer;
}

button:focus {
  outline: 0;
}

button:active {
  transform: scale(0.98);
}

.toggle {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.3);
  top: 20px;
  left: 20px;
}

.section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.graph-bar {
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid var(--secondary-color);
}

.select-item {
  display: flex;
  justify-content: space-between;
}

#select-option, .select-option {
  padding: 5px;
  font-size: 18px;
  border: 2px solid var(--secondary-color);
  border-radius: 5px;
  width: 130px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  cursor: pointer;
}

#select-option:focus {
  outline: 0;
  width: 250px;
}

.search-bar {
  padding: 5px;
  font-size: 18px;
  border: 2px solid var(--secondary-color);
  border-radius: 5px;
  width: 130px;
  background-image: url("../images/search-icon.png");
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

.search-bar:focus {
  outline: 0;
  width: 250px;
}

.container {
  margin: 0 auto;
  padding: 15px;
  max-width: 100%;
  width: 800px;
}

.modal-container {
  display: none;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.3);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.modal-container.show-modal {
  display: block;
}

.modal {
  overflow: hidden;
  background-color: #fff;
  border-radius: 5px;
  position: absolute;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  width: 800px;
  animation: modalopen;
  animation-duration: var(--modal-duration);
}

.modal-header {
  padding: 20px;
  background-color: var(--primary-color);
  color: #fff;
}

.modal-header h2 {
  margin: 0;
  border-bottom: 1px solid #333;
}

.modal-content {
  padding: 20px;
  background-color: #fff;
}

.modal-form div {
  margin: 15px 0;
}

.close-btn {
  font-size: 25px;
  background: transparent;
  position: absolute;
  top: 0;
  right: 0;
}

.close-btn:hover {
  background-color: crimson;
}

.table {
  width: 100%;
  margin-top: 10px;
  text-align: center;
  border: 2px solid #333;
}

.table th {
  margin: 0;
  border: 1px solid;
  padding: 3px 10px;
  background-color: var(--primary-color);
  color: #fff;
}

.table tr {
  background-color: rgb(55, 55, 55);
  color: #fff;
  transition: 0.4s ease;
}

.table tr:hover {
  color: #ffff00;
  transform: scale(1.01);
}

@keyframes modalopen {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}